body {
  background-color: rgb(197, 197, 197);
}

.main-container {
  margin: 5% 25%;
  background-color: white;
  box-shadow: 1px 1px 4px #686868ad;
}

.navbar {
  color: white;
  justify-content: center;
  box-shadow: 1px 1px 4px #686868ad;
}

